*.[oa]
*~
*.obj
*.pro.user*
.tmp/*
contrib/sys/*/*/*/*
contrib/sys/*/lib/*
contrib/sys/*/dll/*
contrib/sys/*/bin/*
!contrib/sys/*/*/*.udoc
!contrib/sys/*/*.udoc
!contrib/sys/*.udoc
!contrib/sys/*/doocs64_install/server/*.bat
sys/*/*/*/*
sys/*/*/*
sys/*/lib/*
sys/*/dll/*
sys/*/bin/*
!sys/*/*/*.md
!sys/*/*.md
!sys/*.md
!sys/*/install/server/*.bat


src/matlabscripts/*.asv

prj/*/*/*
#prj
prj/*/*/Debug
prj/*/*/Release
prj/*/*/DebugDbg
prj/*/*/*/Debug
prj/*/*/*/Release
prj/*/*/*/DebugDbg
prj/*/*/*/*/Debug
prj/*/*/*/*/Release
prj/*/*/*/*/DebugDbg


!prj/*/*_vs*/*.sln
!prj/*/*_vs*/*.vcxproj
!prj/*/*_vs*/*.vcxproj.filters
!prj/*/*_vs*/*.vdproj
!prj/*/*_vs*/*/*.vcxproj
!prj/*/*_vs*/*/*.vcxproj.filters
!prj/*/*/*.pro
!prj/*/*/*.cmake
!prj/*/*_mkfl/Makefile
!prj/common/*
!prj/common/*/*
!prj/common/*/*/*
!prj/install/*/*.cpp
workspaces/*/*
!workspaces/*/*.sln
moc_*.cpp
.gitattributes
.DS_Store
.qmake.stash
src/.original/*/*
contrib/doocs/*
*.objects
*.objects/*
*.suo
*.VC.VC.opendb
*.VC.db
#include/.private/*.h
#include/.private/*/*.h

