*.[oa]
*~
*.obj
*.pro.user*
prj/*/*/Makefile*
prj/daqadcreceiver/daqadcreceiver_qt/daqadcreceiver
sys/*/bin/*
sys/*/.objects/*
prj/*/*/debug/*
prj/*/*/release/*
moc_*.cpp
workspaces
.gitattributes
prj/*/*/x64
prj/*/*/Win32
prj/*/*/*.filters*
!sys/*/bin/setup_environment.bat
projects/tests/cli_wallet_test_vs15/*
!projects/tests/cli_wallet_test_vs15/cli_wallet_test.vcxproj
!projects/tests/cli_wallet_test_vs15/cli_wallet_test.sln
projects/tests/cli_wallet_test_vs13/*
!projects/tests/cli_wallet_test_vs13/cli_wallet_test.vcxproj
!projects/tests/cli_wallet_test_vs13/cli_wallet_test.sln
.DS_Store
.qmake.stash
gui_wallet.app
*wallet.json
*after-import-key-*.wallet
*.so*

prj/*/*/*
!prj/*/*/*.vcxproj
!prj/*/*/*.sln
!prj/*/*/*.pro
!prj/*/*_mkfl/Makefile
